.generator-form-wrapper {
    padding: 3rem 2rem;
    margin: 3rem 0;
    border: 1px solid #eee;
    border-radius: .5rem;
}

.generator-form-wrapper .row {
    padding: 1rem .5rem;
    margin: 1rem 0;
}

.generator-form-wrapper .row label {
    font-weight: bold;
}

.generator-form-wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="range"] {
    padding-left: 0;
    padding-right: 0;
}